body{
	margin: 0;
	
}

header{
	background-color: #FF9368;
	text-align: center; 
	border-bottom: 10px solid lightsteelblue;

}

header img{
	width: 90%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid lightsteelblue;
}

header h1{
	color: lightsteelblue;
	font-size: 200px;
}

h1, h2{
	font-family: 'Bungee Shade', cursive;
}


main{
	background-color: lightsteelblue;
	max-width: 6000px;
	margin: 0 auto;
	border-top: 10px solid lightsteelblue;
	
}

div.YouTube{
	height: 400px
}

h2.Films{
	margin-top: 10px;
	background-color:#FF9368;
	color: lightsteelblue;
	border: 10px solid white;
}

main img{
	min-width: 33%;
	max-width: 33%;
	border: 20px solid white;
}

main h2{
	margin: 200px 0 10px;
	background-color: #FF9368;
	color: lightsteelblue;
	font-size: 125px;
	text-align: center;
	padding-left: 50px;
	border: 10px solid white;
}

main p{
	color: #FF9368;
	font-size: 75px;
	font-family: 'Bungee Inline', cursive;
	padding-left: 50px;
	width: 33%;
}

a{
	color: #FF9368;
	font-size: 75px;
	font-family: 'Bungee Inline', cursive;
	padding-left: 0px;
}

a:hover{
	color: #FF6F36
}

footer{
	background-color: #FF9368;
	text-align: center; 
	color: lightsteelblue;
	font-size: 75px;
	font-family: 'Bungee Inline', cursive;
	padding: 50px
}

footer p{
	margin: 0;
}

footer a{
	color: lightsteelblue
}

footer a:hover{
	color: #94B5E0
}


